html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


.regex-title {
    
}


.regex-match-result-tag {
    padding: 5px;
    background-color: #ff1155;
    color: #fff;
    margin-right: 5px;
    border-radius: 3px;
}


.regex-button-close-panel {
    background-image: url(close_icon.gif);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    margin: 5px 0px 5px 0px;
    width: 18px;
    height: 30px;
    padding-top: 5px;
    padding-right: 5px;
    text-decoration-line: none;
}