html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


.regex-title {
    
}


.regex-match-result-tag {
    padding: 5px;
    background-color: #ff1155;
    color: #fff;
    margin-right: 5px;
    border-radius: 3px;
}